@page "/learnblazor/demoproduct"
<h3 class="text-primary">Demo Product</h3>

<div class="border p-2 mt-2" style="background-color: azure">
    <div class="row">
        @foreach(var product in Products)
        {
            <div class="bg-light col-5 border m-1">
                <h4>Product - @product.Id</h4>
                Name - @product.Name <br>
                Show Properties: <input type="checkbox" @bind="@product.IsActive">
                @if(@product.IsActive)
                {
                    @foreach(var p in product.ProductProps)
                    {
                        <p>@p.Key - @p.Value</p>
                    }
                }
                <br>
                <input type="button" class="btn btn-danger" style="width: 100px;" value="Delete">
                <input type="button" class="btn btn-success" style="width: 100px;" value="Delete">
            </div>
        }
    </div>
</div>

@code {
    List<Demo_Product> Products = new();
    protected override void OnInitialized()
    {
        Products.Add(new ()
        {
            Id = 1,
            Name = "Midnight Blaze",
            IsActive = false,
            Price = 10.99,
            ProductProps = new()
            {
                new Demo_ProductProp { Id = 1, Key = "Flavor", Value = "Rose"},
                new Demo_ProductProp { Id = 2, Key = "Size", Value = "20oz"},
                new Demo_ProductProp { Id = 1, Key = "Color", Value = "Purple"},
            }
        });

        Products.Add(new ()
        {
            Id = 2,
            Name = "Blossom Lily",
            IsActive = true,
            Price = 13.99,
            ProductProps = new()
            {
                new Demo_ProductProp { Id = 1, Key = "Flavor", Value = "Lily"},
                new Demo_ProductProp { Id = 2, Key = "Size", Value = "18oz"},
                new Demo_ProductProp { Id = 1, Key = "Color", Value = "White"},
            }
        });
    }
}